color1 = #2caaff
color2 = #fdd700
color3 = #334F9A

body
	background-color #f9f9f9
	font-size 14px
	font-family: 'Roboto', sans-serif;
	
a
.btn
	&:active
	&:focus
		box-shadow none
		outline none
nav
	background-color #fff
	border-bottom 2px solid color1
	.navbar-brand
		img
			width 100px
			
	.navbar-nav
		li.nav-item
			a.nav-link
				border 1px solid #fff
				border-radius 4px
				color #000
				font-size .9em
				font-weight bold
				margin-right 4px
				padding 5px 16px !important
				&:hover
					color color3
			a.btn
				background-color color1
				color #fff
				&:hover
					background-color color2
			ul.dropdown-menu
				border-radius 0px 0px 4px 4px
				background-color #fff
				border 0px 
				top 182%
				li
					border-bottom 1px solid #fff
					a
						color #000
						display block
						float none
						width 100%
						i
							color color3
					&:last-child
						border-bottom 0px
					&:hover
						background-color #f7f7f7
		li.link-acc
			overflow hidden
			a
				display inline-block
				float left
				margin-right 0px !important
				&:first-child
					border-radius 4px 0px 0px 4px
					border-right 1px solid #fff
				&:last-child
					border-radius 0px 4px 4px 0px
					border-right 1px solid #fff
				
					
		li.link-user
			overflow initial
			a
				
				border 0px !important
				
				
				img
					border-radius 50px
					position relative
					margin-right 6px 
					top -1px
					width 24px
			